{{#if toc}}
            </div>{{! close .content-layout }}
{{/if}}
        </main>

        {{> footer}}
    </div>

    {{> sidebar}}

    <script defer src="/js/main.js"></script>
    {{> external-link-modal}}
</body>
</html>
