<aside>
    <div class="sidebar-header">
        <span class="mode-toggle" onclick="toggleDarkMode()">☽ 模式</span>
        <span class="close-btn" onclick="toggleSidebar()">✕</span>
    </div>
    <ul class="side-nav">
        <li><a href="/about.html">关于 About</a></li>
        <li><a href="/projects.html">项目 Projects</a></li>
        <li><a href="/links.html">链接 Links</a></li>
<<<<<<< HEAD
        <li><a href="https://blog.chatongxue.top" target="_blank" rel="noopener noreferrer">博客 Blog</a></li>
    </ul>
    <div class="sidebar-footer">
        <p>©2020 - 2026 北川哈气物 All Rights Reserved | <a href="https://icp.gov.moe/?keyword=20228514" target="_blank" class="icp">萌ICP备20228514号</a> | <a href="/statements.html" class="icp">网站声明</a> | <a href="/privacy.html" class="icp">隐私政策</a> | <a href="/AIGC-Statement.html" target="_blank" class="icp">生成式人工智能使用声明</a></p>
=======
        <li><a href="https://blog.chatongxue.top" target="_blank" rel="noopener noreferrer" data-no-ext-confirm>博客 Blog</a></li>
    </ul>
    <div class="sidebar-footer">
        <p>{{copyright}} | <a href="https://icp.gov.moe/?keyword=20228514" target="_blank" class="icp">{{icp}}</a> | <a href="/statements.html" class="icp">网站声明</a> | <a href="/privacy.html" class="icp">隐私政策</a> | <a href="/AIGC-Statement.html" class="icp">生成式人工智能使用声明</a></p>
>>>>>>> 5814db1 (rewrite:通通用vite重写，详见usage)
    </div>
</aside>
