<header class="top-bar">
    <div class="logo" onclick="window.location.href = 'index.html'">
<<<<<<< HEAD
        <span>北川哈气物</span>
=======
        <span>{{siteName}}</span>
>>>>>>> 5814db1 (rewrite:通通用vite重写，详见usage)
    </div>
    <div class="menu-btn" onclick="toggleSidebar()">MENU ▾</div>
</header>
