<header class="top-bar">
    <div class="logo" onclick="window.location.href = 'index.html'">
        <span>北川哈气物</span>
    </div>
    <div class="menu-btn" onclick="toggleSidebar()">MENU ▾</div>
</header>
